# PlanAhead Generated physical constraints 
NET "LCD_E" LOC = M18;
NET "LCD_RS" LOC = L18;
NET "LCD_RW" LOC = L17;
NET "SF_D[0]" LOC = R15;
NET "SF_D[1]" LOC = R16;
NET "SF_D[2]" LOC = P17;
NET "SF_D[3]" LOC = M15;
NET "clock" LOC = C9;
NET "mole[0]" LOC = F12;
NET "mole[1]" LOC = E12;
NET "mole[2]" LOC = E11;
NET "mole[3]" LOC = F11;
NET "led_score[0]" LOC = C11;
NET "led_score[1]" LOC = D11;
NET "led_score[2]" LOC = E9;
NET "led_score[3]" LOC = F9;
NET "reset" LOC = H13;
NET "start" LOC = D18;
NET "whack[0]" LOC = L13;
NET "whack[1]" LOC = L14;
NET "whack[2]" LOC = H18;
NET "whack[3]" LOC = N17;

# PlanAhead Generated IO constraints 
NET "LCD_E" IOSTANDARD = LVCMOS33;
NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_RW" IOSTANDARD = LVCMOS33;
NET "SF_D[0]" IOSTANDARD = LVCMOS33;
NET "SF_D[1]" IOSTANDARD = LVCMOS33;
NET "SF_D[2]" IOSTANDARD = LVCMOS33;
NET "SF_D[3]" IOSTANDARD = LVCMOS33;
NET "clock" IOSTANDARD = LVCMOS33;
NET "mole[0]" IOSTANDARD = LVCMOS33;
NET "mole[1]" IOSTANDARD = LVCMOS33;
NET "mole[2]" IOSTANDARD = LVCMOS33;
NET "mole[3]" IOSTANDARD = LVCMOS33;
NET "led_score[0]" IOSTANDARD = LVCMOS33;
NET "led_score[1]" IOSTANDARD = LVCMOS33;
NET "led_score[2]" IOSTANDARD = LVCMOS33;
NET "led_score[3]" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "start" IOSTANDARD = LVCMOS33;
NET "whack[0]" IOSTANDARD = LVCMOS33;
NET "whack[1]" IOSTANDARD = LVCMOS33;
NET "whack[2]" IOSTANDARD = LVCMOS33;
NET "whack[3]" IOSTANDARD = LVCMOS33;
NET "LCD_E" DRIVE = 4;
NET "LCD_RS" DRIVE = 4;
NET "LCD_RW" DRIVE = 4;
NET "SF_D[0]" DRIVE = 4;
NET "SF_D[1]" DRIVE = 4;
NET "SF_D[2]" DRIVE = 4;
NET "SF_D[3]" DRIVE = 4;
NET "mole[0]" DRIVE = 8;
NET "mole[1]" DRIVE = 8;
NET "mole[2]" DRIVE = 8;
NET "mole[3]" DRIVE = 8;
NET "led_score[0]" DRIVE = 8;
NET "led_score[1]" DRIVE = 8;
NET "led_score[2]" DRIVE = 8;
NET "led_score[3]" DRIVE = 8;
NET "SF_D[0]" SLEW = SLOW;
NET "SF_D[1]" SLEW = SLOW;
NET "SF_D[2]" SLEW = SLOW;
NET "SF_D[3]" SLEW = SLOW;
NET "reset" PULLDOWN;
NET "start" PULLDOWN;
NET "whack[0]" PULLUP;
NET "whack[1]" PULLUP;
NET "whack[2]" PULLUP;
NET "whack[3]" PULLUP;
#Created by Constraints Editor (xc3s500e-fg320-4) - 2023/12/05
NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 20 ns HIGH 50%;
NET "clock21" TNM_NET = clock21;
TIMESPEC TS_clock21 = PERIOD "clock21" 20 ns HIGH 50%;